.contact .contacto {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 400px;
    position: relative;
    width: 885px;
  }
  
  .contact .frame {
    -webkit-backdrop-filter: blur(200px) brightness(100%);
    backdrop-filter: blur(200px) brightness(100%);
    background-color: rgba(255, 255, 255, 0.235) ;
    background-position: 50% 50%;
    background-size: cover;
    border: 0.6px solid;
    border-color: transparent;
    border: linear-gradient(to bottom, rgb(132.17, 122.22, 246.5), rgb(188.06, 34.48, 34.48)) 1;
    border-radius: 20px;
    box-shadow: 1px 3px 4px #3935ee40;
    height: 400px;
    margin-bottom: -25px;
    position: relative;
    width: 800px;
  }
  
  .contact .subtitulo {
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 261px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 78px;
    white-space: nowrap;
  }
  
  .contact .text-wrapper {
    color: #003399;
    font-family: "Karla-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 261px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
  }
  
  .contact .inputs {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 29px;
    height: 225px;
    left: 260px;
    position: absolute;
    top: 106px;
  }
  
  .contact .overlap-group-wrapper {
    height: 40px;
    margin-right: -2px;
    position: relative;
    width: 402px;
  }
  
  .contact .overlap-group {
    background-color: #ffffff;
    border: 0.4px solid;
    border-color: #000000;
    border-radius: 5px;
    height: 40px;
    position: relative;
    width: 400px;
  }
  
  .contact .div {
    color: #000000;
    font-family: "Inter-ExtraLight", Helvetica;
    font-size: 12px;
    font-weight: 200;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
    width: 212px;
  }
  
  .contact .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-ExtraLight", Helvetica;
    font-size: 12px;
    font-weight: 200;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 251px;
  }
  
  .contact .mensaje {
    height: 87px;
    margin-right: -2px;
    position: relative;
    width: 402px;
  }
  
  .contact .div-wrapper {
    background-color: #ffffff;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 5px;
    height: 87px;
    position: relative;
    width: 400px;
  }
  
  .contact .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-ExtraLight", Helvetica;
    font-size: 12px;
    font-weight: 200;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    width: 254px;
  }
  
  .contact .button {
    height: 28px;
    left: 529px;
    position: absolute;
    top: 343px;
    width: 81px;
  }
  
  .contact .overlap-2 {
    background-color: #3e3bee;
    border-radius: 10px;
    height: 28px;
    position: relative;
    width: 79px;
  }
  
  .contact .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inika-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .contact .informacion {
    background-color: #ffffff66;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 1px #605dff40;
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
  }
  
  .contact .istockphoto {
    height: 187px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 197px;
  }
  
  .contact .bajo-imagen {
    height: 100px;
    left: 20px;
    position: absolute;
    top: 243px;
    width: 203px;
  }
  
  .contact .rectangle {
    height: 20px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 19px;
  }
  
  .contact .img {
    height: 20px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 19px;
  }
  
  .contact .rectangle-2 {
    height: 20px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 76px;
    width: 19px;
  }
  
  .contact .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 78px;
  }
  
  .contact .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 42px;
    width: 87px;
  }
  
  .contact .p {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 76px;
    width: 173px;
  }