.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  